{
  "mcpServers": {
    "databricks": {
      "command": "${HOME}/.ai-dev-kit/.venv/bin/python",
      "args": [
        "${HOME}/.ai-dev-kit/repo/databricks-mcp-server/run_server.py"
      ],
      "defer_loading": true,
      "env": {
        "DATABRICKS_CONFIG_PROFILE": "DEFAULT"
      }
    }
  }
}
